<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!--<p id="demo"></p>-->
<div id="result"></div>
    <script>
        const apiUrl = 'http://127.0.0.1:8000/apiv1/restaurants/?format=json';
        fetch (apiUrl)
        .then(response =>{
            if (!response.ok){
                throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
        })
        .then(data => {
            console.log(data);
                const resultsContainer = document.getElementById("result");

                data.forEach(item => {
                const p = document.createElement('p');
                const description = document.createElement('description');
                p.textContent = item.name;
                description.textContent = item.description ;

                resultsContainer.appendChild(p);
                resultsContainer.appendChild(description);
                })
<!--                resultElement.textContent = JSON.stringify(x.name, null, 2);-->

        })
        .catch(error => {
            console.error('fetch error:', error);
        });
        </script>



</body>
</html>
